<!-- <a href="//go.ad2up.com/afu.php?id=759187" target="_blank">Click here for an add</a> -->
<!-- <script type='text/javascript' src='//go.onclasrv.com/apu.php?zoneid=759272'></script> -->
<!-- <a  *ngIf="!this.mobile" class="btn btn-success" (click)="loadPopUnder('//go.onclasrv.com/apu.php?zoneid=759272')"><strong>View Ad</strong></a> -->
<h4>Expect more ways for generating drops!</h4>
<div class="info-box">
    <span class="info-label">Surveys</span>
    <span class="description">
        Boost your drops production with quick surveys. You can make <strong class="text-primary">4,500-23,000+ <i class="fa fa-tint"></i></strong> per survey and they take about a minute to complete!
        <br>
        * Note that it might take a few tries before your account gets credited.
        <br>
        <strong class="text-warning">* Refresh after you complete a survey to see your drops!</strong>
        <br>
        <strong class="text-warning">* Don't use VPN, proxy, chargebacks etc. They get detected!</strong>
    </span>
    <div class="surveys-container">
        <a class="btn btn-primary" href="https://adscendmedia.com/adwall/publisher/107115/profile/7185?subid1={{user ? user.id : 'uniqueUserID'}}" target="_blank"><img src="assets/adscend.png" alt="Logo" class="offer-logo" /></a>
        <a class="btn btn-primary" href="https://offertoro.com/ifr/show/3272/{{user ? user.id : 'uniqueUserID'}}/1827" target="_blank"><img src="assets/ot.png" alt="Logo" class="offer-logo" /></a>
        <a class="btn btn-primary" href="https://wall.adgaterewards.com/oqaT/{{user ? user.id : 'uniqueUserID'}}" target="_blank"><img src="assets/adgate.png" alt="Logo" class="offer-logo" /></a>
        <a class="btn btn-primary" href="https://persona.ly/widget/?appid=5b4cac7028df40d659f0d55c5168d437&userid={{user ? user.id : 'uniqueUserID'}}&date_of_birth=yyyy-mm-dd&gender=m" target="_blank"><img src="assets/personaly.png" alt="Logo" class="offer-logo" /></a>
    </div>
</div>

<!-- <modal #popUnderModal class="pop-under-modal" (click)="popUnderModal.dismiss()">
    <modal-body>
        <button class="btn btn-success center-block">Click anywhere to blast off!</button>
    </modal-body>
</modal>
<modal #disableAdBlock class="disable-adblock">
    <modal-header [show-close]="false">
        <h4 class="text-danger text-center">You cannot view the ad with AdBlock enabled!</h4>
    </modal-header>
    <modal-body>
        <span class="center-block">Please whitelist this page or disable adblock.</span>
        <br>
        <button class="btn btn-success center-block" (click)="disableAdBlock.dismiss()">Got it!</button>
    </modal-body>
</modal> -->
