<div class="padding-horizontal-bottom">
    <h3>Have a question about our content?</h3>
    <a href="mailto:support@csgooverflow.com" target="_blank">support@csgooverflow.com</a>

    <h3>Other question?</h3>
    <a href="mailto:contact@csgooverflow.com" target="_blank">contact@csgooverflow.com</a>

    <h3>Want to help improve the site?</h3>
    <a href="mailto:feedback@csgooverflow.com" target="_blank">feedback@csgooverflow.com</a>

    <h3>Want to advertise?</h3>
     <a href="mailto:advertise@csgooverflow.com" target="_blank">advertise@csgooverflow.com</a>
</div>
