<div class="padding-horizontal-bottom info">
    <h2 class="text-center">FAQ</h2>
    <h3>
        Who is this website for?
    </h3>
    <p>
        <strong class="text-warning">We love CS: GO and we love skins. We also know that you do as well, this is why we made this website! FOR THE COMMUNITY!</strong>
        <br>This website is created for the people who love the <strong class="text-warning">thrill of gambling</strong>, but do <strong class="text-warning">not like</strong> the "casino" style of many sites, i.e. <strong class="text-warning">commissions, percent for the house</strong> and actually <strong class="text-warning text-uppercase">depositing items</strong>.
    </p>
    <h4>How do I sign up?</h4>
    <p>
        You do not have to create an account, you just use your <strong class="text-warning">Steam account</strong> to log in and your player account will be created.
    </p>
    <h3>How does it work?</h3>
    <p>
        Your main goal is to get <strong class="text-warning">DROPS <i class="fa fa-tint"></i></strong>, you can do that through the <strong class="text-warning">Advertisements</strong> page.
    </p>
    <p>
        <strong class="text-success">Static Drops <i class="fa fa-tint"></i></strong> are yours and can <strong class="text-warning">never be lost</strong>.<br>
        You can transfer those <strong class="text-success">Static Drops <i class="fa fa-tint"></i></strong> to <strong class="text-danger">Active Drops <i class="fa fa-tint"></i></strong>, from the <strong class="text-warning"><i class="fa fa-user"></i> Account</strong> page(available after <strong>log in</strong>) and participate in the <strong class="text-warning">Game <i class="fa fa-circle-o-notch"></i></strong>.
    </p>
    <h3>How does the Game work?</h3>
    <p>
        Every person who choses to transfer some of his/her drops <i class="fa fa-tint"></i> to <span class="text-danger">active</span> will be listed in the user table, at any moment, <strong clas="text-warning">no matter logged in or not</strong>, he/she can be <strong class="text-warning">attacked</strong> by anyone else.<br>
        Attacks work on a <strong class="text-warning">50/50</strong> chance system, you have the <strong class="text-warning">SAME CHANCE to win as the person attacking you</strong>. You can <strong class="text-warning">not lose more than 50%</strong> of your active drops in one attack.
        <br>When you win/lose an attack or defense the drops go in or go out of your <strong class="text-danger">Active Drops <i class="fa fa-tint"></i></strong>, in order to keep your drops safe you must <strong class="text-warning">transfer them</strong> to <strong class="text-success">Static Drops <i class="fa fa-tint"></i></strong>!
    </p>
    <h4>How do I attack?</h4>
    <p>
        In order to attack, you must first be <strong>logged in</strong>, have <strong class="text-warning">minimum of 10 drops <i class="fa fa-tint"></i> in active</strong> and then click the attack button(<i class="fa fa-bolt text-warning"></i>) next to the player's name.
    </p>
    <h3>What is the level for?(Still in development, expect in 1 week time)</h3>
    <p>
        Every time you <strong class="text-warning">attack or defend</strong> you receive <strong class="text-warning">experience</strong> from the duel, when you <strong class="text-warning">level up</strong> you gain <strong class="text-warning">passive skill points</strong>.
        <br>You can use those skill points to level up different skills(skills description will be available in the upcoming days).
    </p>
    <h3>Is this a typical CS: GO gambling website?</h3>
    <p>
        Definitely <strong class="text-warning">NOT</strong>. We take <strong class="text-warning text-uppercase">no deposits, no commission and no percentage for the house</strong>.
        <br>The Game is created <strong class="text-warning">FOR FUN ONLY</strong>. We <strong class="text-warning">do NOT profit from it</strong>.
        <br>When you play and attack or get attacked, your <strong class="text-warning">chance to win is 50% and you win/lose the same amount as you attacked/got attacked for</strong>.
        <br><strong>Beware that skills will add a strategic way of attacking or defending and your chance to win will drop/rise depending on the level difference between you and your opponent.</strong>(More info with the update notes)
    </p>
    <h3>What can I win?</h3>
    <p>
        When you have enough <strong>drops <i class="fa fa-tint"></i></strong> you can visit the <strong class="text-warning"><i class="fa fa-shopping-cart"></i> Marketplace</strong> and purchase any item you want.
        <br>Currently this website is focused only on <strong class="text-warning">CS: GO</strong> and the items in the Marketplace are skins.
    </p>
</div>
