<div class="stick-top">
    <div class="btn-group">
        <a class="btn btn-default" [routerLinkActive]="['active']" [routerLink]="['/terms/general-terms']">General Terms</a>
        <a class="btn btn-default" [routerLinkActive]="['active']" [routerLink]="['/terms/cookie-policy']">Cookie Policy</a>
    </div>
</div>

<div class="info-padded">
    <div *ngIf="cookiePolicySelected" class="padding-horizontal-bottom">
        <h2 class="text-center">COOKIE POLICY</h2>
        <h3>What Are Cookies?</h3>
        <p>
            A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. Cookies cannot execute programs or place viruses on your computer. They enable the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.
        </p>
        <h3>How do we use cookies?</h3>
        <p>
            We use the cookie "loggedIn" to remember you for a period of time, and the cookie "token" to save you from authenticating yourself every time you use one of our services.
            <br>
            The cookie "cookieconsent_dismissed" is used to keep track of whether you accepted our cookie policy or not.
            <br>
            We may also use other cookies to remember your preferences.
        </p>
        <p>
            The cookie-related information is not used to identify you personally and the pattern data is fully under our control. These cookies are not used for any purpose other than those described here.
        </p>
        <h3>Third Party Cookies</h3>
        <p>
            This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.
            <br><br>
            For more information on Google Analytics cookies, see the <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=bg&q=https://developers.google.com/analytics/resources/concepts/gaConceptsCookies&source=gmail&ust=1471513692919000&usg=AFQjCNGwpXX8XvOxew4PMTZYch2ctVHrYQ">official Google Analytics page</a>.
        </p>
        <h3>Disabling Cookies</h3>
        <p>
            You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will result in also disabling certain functionality and features of this site. Therefore it is recommended that you do not disable cookies.
        </p>
        <h3>More Information</h3>
        <p>
            Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. However if you are still looking for more information then you can contact us through one of our preferred contact methods.
        </p>
        <p>
            E-mail: <a href="mailto:contact@csgooverflow.com" target="_blank">contact@csgooverflow.com</a>
        </p>
    </div>
    <div *ngIf="generalTermsSelected" class="padding-horizontal-bottom">
        <h2 class="text-center">TERMS AND CONDITIONS</h2>
        <h3>1. Introduction.</h3>
        <p>
            These Website Terms And Conditions (these “Terms” or these “Website Standard Terms And Conditions”) contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full, as well as this Website's <a [routerLink]="['/terms/cookie-policy']">Cookie Policy</a>. You must not use this Website, if you have any objection to any of these Website Terms And Conditions.
        </p>
        <p>
            The owner Nikola Angelov Bozhkov represents this Website hereinafter under the name of CSGO Overflow.
        </p>
        <p>
            This Website is not for use by any minors (defined as those who are not at least 18 years of age), and you must not use this Website if you are a minor.
        </p>
        <h3>2. Intellectual Property Rights.</h3>
        <p>
            Other than content you own, which you may have opted to include on this Website, under these Terms, CSGO Overflow and/or its licensors own all rights to the intellectual property and material contained in this Website, such as but not limited to logos, texts, photographs, graphics, images, icons, technologies, software applications, links, domain names, trademarks and multimedia content, as well as their graphical representations and source codes, and all such rights are reserved.
        </p>
        <p>
            Other names of companies and goods or services featuring on the Website may be trademarks of their respective owners. Any use of any of the above mentioned trademarks without the prior express written approval of the holders of the rights involved shall constitute an infringement of intellectual property rights and is prohibited.
        </p>
        <p>
            You may use this Website solely to access its content and the services. Any reproduction and/or showing of all or part of the content of this Website, on any medium, in any way and for any other purpose whatsoever, without the prior express written approval of CSGO Overflow, shall be strictly prohibited.
        </p>
        <p>
            You do not have any right or license to use the trademarks or other intellectual property shown on this Website. You therefore hereby undertake to refrain from wholly or partly modifying, renting, leasing, selling, distributing or creating derivative works based on the content of the Website and/or the products and services on offer on this Website.
        </p>
        <h3>3. Restrictions.</h3>
        <p>
            You are expressly and emphatically restricted from all of the following:
        </p>
        <p>
            &nbsp;&nbsp;1. publishing any Website material in any media;
        </p>
        <p>
            &nbsp;&nbsp;2. selling, sublicensing and/or otherwise commercializing any Website material;
        </p>
        <p>
            &nbsp;&nbsp;3. publicly performing and/or showing any Website material;
        </p>
        <p>
            &nbsp;&nbsp;4. using this Website in any way that is, or may be, damaging to this Website;
        </p>
        <p>
            &nbsp;&nbsp;5. using this Website in any way that impacts user access to this Website;
        </p>
        <p>
            &nbsp;&nbsp;6. using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;
        </p>
        <p>
            &nbsp;&nbsp;7. engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;
        </p>
        <p>
            &nbsp;&nbsp;8. using this Website to engage in any advertising or marketing;
        </p>
        <p>
            Certain areas of this Website are restricted from access by you andCSGO Overflow may further restrict access by you to any areas of this Website, at any time, in its sole and absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality of such information.
        </p>
        <h3>4. Acceptable Use.</h3>
        <p>
            You must not use this Website in any way that causes, or may cause, damage to this Website or impairment of the availability or accessibility of this Website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
        </p>
        <p>
            You must not use this Website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
        </p>
        <p>
            You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this Website without CSGO Overflow's express written consent.
        </p>
        <p>
            You must not use this Website to transmit or send unsolicited commercial communications. You must not use this Website for any purposes related to marketing without CSGO Overflow's​ express written consent.
        </p>
        <h3>5. Your Content.</h3>
        <p>
            In these Website Standard Terms And Conditions, “Your Content” shall mean any audio, video, text, images or other material you choose to display on this Website. With respect to Your Content, by displaying it, you grant CSGO Overflow a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
        </p>
        <p>
            Your Content must be your own and must not be infringing on any third party’s rights. CSGO Overflow reserves the right to remove any of Your Content from this Website at any time, and for any reason, without notice.
        </p>
        <h3>6. No warranties.</h3>
        <p>
            This Website is provided “as is,” with all faults, and CSGO Overflow makes no express or implied representations or warranties, of any kind related to this Website or the materials contained on this Website. Additionally, nothing contained on this Website shall be construed as providing consult or advice to you.
        </p>
        <h3>7. Limitation of liability.</h3>
        <p>
            In no event shall CSGO Overflow, nor any of its officers, directors and employees, be liable to you for anything arising out of or in any way connected with your use of this Website, whether such liability is under contract, tort or otherwise, and CSGO Overflow, including its officers, directors and employees shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
        </p>
        <p>
            This Website may contain links to third​party web sites or services that are not owned or controlled by CSGO Overflow. CSGO Overflow has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that CSGO Overflow shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
        </p>
        <p>
            CSGO Overflow strongly advises you to read the terms and conditions and privacy policies of any third​party web sites or services that you visit.
        </p>
        <h3>8. Indemnification.</h3>
        <p>
            You hereby indemnify to the fullest extent CSGO Overflow from and against any and all liabilities, costs, demands, causes of action, damages and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms.
        </p>
        <h3>9. Severability.</h3>
        <p>
            If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.
        </p>
        <h3>10. Variation of Terms.</h3>
        <p>
            CSGO Overflow is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review such Terms on a regular basis to ensure you understand all terms and conditions governing use of this Website.
        </p>
        <h3>11. Assignment.</h3>
        <p>
            CSGO Overflow shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
        </p>
        <h3>12. Entire Agreement.</h3>
        <p>
            These Terms, including any legal notices and disclaimers contained on this Website, constitute the entire agreement between CSGO Overflow and you in relation to your use of this Website, and supersede all prior agreements and understandings with respect to the same.
        </p>
        <h3>13. Governing Law & Jurisdiction.</h3>
        <p>
            These Terms shall be governed and construed in accordance with the laws of Bulgaria, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect.
        </p>
        <h4>Should you have any enquiries about these Terms, please send an e-mail to <a href="mailto:contact@csgooverflow.com" target="_blank">contact@csgooverflow.com</a></h4>
    </div>
</div>
