terms-of-use {
    display: block;
    flex: 1;
}

.info-padded, .info {
    h3, h2, h4, h5 {
        color: $color-highlight;
    }
}

.info-padded {
    padding-top: 50px;
}

faq p {
    font-size: 1.1em;
}
